body{
    margin: 12px ;
    background-color: rgb(235, 235, 235);
    font-size: 12px;
    line-height: 1.8;

    font-family: neue-haas-grotesk-text,pretendard,sans-serif;
    font-weight: 400;
    font-style: normal; 

    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.7px;
    color:rrgb(56, 56, 56);

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /*스크롤바제거*/
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
::selection {
    background-color: #353535;
     color: rgb(204, 204, 204);
}

/* 한글만 다른폰트적용 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

header{
    width: calc(100% - 40px);
    height: 40px;
    display: flex;
    gap: 20px;
    z-index: 111;
    /*블러효과*/
    /* backdrop-filter: blur(18px) saturate(170%);
    -webkit-backdrop-filter: blur(18px) saturate(170%);
    background-color: rgba(235, 238, 222, 0.2); */
    /* border: 1px solid rgba(94, 94, 94, 0.281); */
    top: 20px;
    position: fixed;
}
header > div{
    width: 50%;
    height: auto;
}
/* .header-left{
    width: 50%;
    height: auto;
}
.header-right{
    width: 50%;
    height: auto;
} */
ul li{
    float: left;
    margin-right: 20px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:rgb(56, 56, 56);
}
a:hover{
    color: rgb(130, 130, 130);
    transition: 0.2s;
}
section{
    display: flex;
    height: auto;
    gap: 12px;
    padding-bottom: 40px;
    /* margin-top: 60px; 헤더 fixed 영역크기*/
}
img {
    width: 100%;
    height: auto;
}






 /* 부모 > 자식에 소속된 태그만 지정 */
section > div{
    width: 50%;
    /* border: solid 1px rgb(226, 226, 226); */
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.thumbnail {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(138, 92, 92, 0.137);
    position: relative;
    cursor: pointer;
    /* border-radius: 8px;
    overflow: hidden; */
}

.thumbnail::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.thumbnail:hover::after {
    background-color: rgba(216, 216, 216, 0.8);
}

.thumbnail:hover .thumb-text {
    color: rgb(56, 56, 56);
    opacity: 1;
}

.thumb-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(68, 68, 68);
    opacity: 0;
    text-align: center;
    transition: 0.4s;
}

.main-img {
    width: 100%;
    /* height: 100px; */
    /* background-color: rgba(136, 49, 49, 0.148); */
    text-align: center;
    margin-top: 60px;
    /* border: 1px solid rgb(228, 228, 228); */
}




/* 
.about-intro {
    margin-top: 60px;
    text-align: center;
} */







footer{
    width: calc(100% - 40px);
    height: 40px;
    /* border: solid 1px rgb(104, 103, 101); */
    /* background-color: rgb(238, 235, 231); */
    display: flex;
    gap: 20px;
    position: fixed; 
    bottom: 0px;  
}
footer > div{
    width: 50%;
    height: auto;
}
.description{
    position: sticky;
    top: 80px;
    margin-top: 400px;
}

/* 
@keyframes anim{
    from{
        transform: translateY(80px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.show{
    animation: anim 1s;
    animation-timing-function: cubic-bezier(.42,0,.58,1);
} */