body {
  background-color: #121212;
  color: white;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.fi {
  opacity: 0;
}

.fi2 {
  opacity: 0;
}

.fadeinleft {
  opacity: 0;
  margin-left: -300px;
  max-width: 100%;
}

.fadeinright {
  opacity: 0;
  margin-left: 300px;
  max-width: 100%;
  position: absolute;
}

.fadeintop {
  opacity: 0;
  margin-top: 300px;
  max-width: 100%;
}

header {
  width: 1200px;
  height: 85px;
  margin: 0 auto;
}

main {
  width: 1200px;
  height: 7000px;
  margin: 0 auto;
}

footer {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  color: #767676;
  font-size: 12px;
  line-height: 36px;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
}

.scroll-btn>* {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  letter-spacing: 2px;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
  color: #ffffff;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: absolute;
  display: block;
  width: 25px;
  height: 55px;
  margin: 0 auto 20px;
  margin-top: -520px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid rgba(200, 200, 200, 0.3);
  border-radius: 23px;
}

.scroll-btn .mouse>* {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: rgba(200, 200, 200, 0.8);
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

.nav {
  margin-top: 47px;
  font-weight: lighter;
  margin-right: -65px;
}

.nav_spec {
  margin-top: 47px;
  font-weight: lighter;
  margin-left: 90px;
}

ul {
  float: right;
}

li {
  font-size: 18px;
  float: left;
  width: 100px;
  vertical-align: bottom;
  margin-top: 30px;
}

.logo {
  width: 170px;
  margin-top: 35px;
}

.bg {
  width: 1903px;
  height: 1080px;
  position: absolute;
  z-index: -11;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  transition-duration: 0.3s;
  color: #067eda;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 20px;
  font-size: 72px;
  background: linear-gradient(120deg, #00f6ff, #067eda);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: lighter;
  background-image: -webkit-linear-gradient(92deg, #00f6ff, #067eda);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

h2 {
  font-size: 48px;
  background-size: 200% auto;
  -webkit-background-size: 200% auto;
  -moz-background-size: 200% auto;
  /* font-family: "Futura Md Bt", sans-serif; */
  font-weight: lighter;
}

.sub {
  text-align: center;
  font-size: 22px;
  color: #B5B5B5;
  margin-bottom: 800px;
  letter-spacing: 8px;
  /* font-family: 'Futura Lt Bt', sans-serif; */
  font-weight: lighter;
}

.line {
  width: 710px;
  height: 2px;
  margin-left: -360px;
  background: linear-gradient(90deg, #00f6ff, #067eda);
  margin-top: 10px;
}

.kor {
  font-family: SpoqaHanSans;
}

.con {
  color: #767676;
  font-size: 24px;
  margin-top: 60px;
  line-height: 40px;
  font-weight: 400;
  font-family: SpoqaHanSans;
}

.img1 {
  width: 558px;
  float: right;
  margin-top: -260px;
}

.img2 {
  width: 597px;
  float: left;
  margin-top: 20px;
}

.space500 {
  height: 500px;
}

.space300 {
  height: 300px;
}

.right_content {
  display: inline-block;
  margin-top: 100px;
  margin-left: 180px;
}

.right {
  margin-top: -100px;
}

.line2 {
  width: 774px;
  height: 2px;
  position: absolute;
  background: linear-gradient(90deg, #00f6ff, #067eda);
  margin-top: 10px;
}

.center {
  text-align: center;
  margin-bottom: 100px;
}

.cpu {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.intel {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 270px;
  color: #767676;
  font-family: SpoqaHanSans;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.bar1 {
  color: #767676;
  font-family: SpoqaHanSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.bar2 {
  font-family: SpoqaHanSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 200px;
  margin-top: 80px;
}

.icons {
  width: 1200px;
  height: 400px;
  margin-top: 300px;
  margin-bottom: 100px;
}

.icon_text3 {
  color: #767676;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  position: absolute;
  margin-top: 55px;
  font-family: SpoqaHanSans;
  margin-left: 40px;
}

.icon_text2 {
  color: #767676;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  position: absolute;
  margin-top: 40px;
  font-family: SpoqaHanSans;
  margin-left: 30px;
}

.icon_text1 {
  color: #767676;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  position: absolute;
  margin-top: 55px;
  font-family: SpoqaHanSans;
  margin-left: 26px;
}

.icon_center {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.icon1 {
  width: 370px;
  display: inline-block;
}

.icon2 {
  width: 440px;
  display: inline-block;
  margin-left: 8px;
}

.icon3 {
  width: 370px;
  display: inline-block;
}

.color img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.5s ease;
}

.color img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 0.5s ease;
}

.brighten img {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  margin-left: -360px;
  margin-top: 200px;
  width: 1910px;
}

.brighten img:hover {
  -webkit-filter: brightness(100%);
}

table {
  margin: 0 auto;
  margin-top: 170px;
}

td {
  padding: 10px;
  font-size: 18px;
  line-height: 33px;
}

.text_left {
  color: #B9B9B9;
  font-weight: bold;
}

.text_right {
  padding-left: 100px;
  color: #767676;
}

.footer_font {
  color: #767676;
  font-family: SpoqaHanSans;
  font-size: 12px;
}

.foot1 {
  margin-right: -20px;
}

.foot2 {
  margin-right: 25px;
}

.foot3 {
  margin-right: 20px;
}

.footer_margin {
  margin-top: -68px;
  margin-right: -20px;
}
